<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>allwindows</include>
		<control type="image">
			<top>70</top>
			<left>190</left>
			<width>1050</width>
			<height>419</height>
			<texture colordiffuse="red">login.jpg</texture>
		</control>
		<control type="grouplist">
			<left>340</left>
			<top>450</top>
			<width>350</width>
			<height>419</height>
			<itemgap>8</itemgap>
			<control type="label">
				<description>FriendlyName</description>
				<label>U.S.S. $INFO[Skin.String(shipname)]</label>
				<align>right</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>BuildVersion</description>
				<label>Version: $INFO[System.BuildVersion]</label>
				<align>right</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>CpuFrequency</description>
				<label>Cpu Frequency: $INFO[System.CpuFrequency]</label>
				<align>right</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="progress">
				<description>CPU BAR</description>
				<width>350</width>
				<colordiffuse>red</colordiffuse> 
				<height>25</height>
				<info>System.CPUUsage</info>
			</control>
			<control type="progress">
				<description>Memory BAR</description>
				<width>350</width>
				<colordiffuse>red</colordiffuse> 
				<height>25</height>
				<info>system.memory(used)</info>
			</control>
			
		</control>			
		<control type="grouplist">
			<left>740</left>
			<top>450</top>
			<width>400</width>
			<height>419</height>
			<itemgap>8</itemgap>
			<control type="label">
				<description>mac addres</description>
				<label>mac addres: $INFO[Network.MacAddress]</label>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>BuildDate</description>
				<info>System.BuildDate</info>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>ScreenResolution</description>
				<label>resolution: $INFO[System.ScreenResolution]</label>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>CPU Text</description>
				<label>$LOCALIZE[13271] $INFO[System.CPUUsage]</label>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>red</textcolor>
				<height>25</height>
				<font>font24_title</font>
			</control>
			<control type="label">
				<description>Memory Text</description>
				<label>Memory usage $INFO[system.memory(used.percent)]</label>
				<align>left</align>
				<aligny>center</aligny>
				<height>25</height>
				<textcolor>red</textcolor>
				<font>font24_title</font>
			</control>
		</control>
		<control type="panel" id="9000">
			<top>96</top>
			<left>13</left>
			<width>155</width>
			<height>530</height>
			<onup>noop</onup>
			<ondown>700</ondown>
			<onright>750</onright>
			<itemlayout width="155" height="44">
				<control type="label">
					<top>7</top>
					<width>145</width>
					<height>23</height>
					<aligny>bottom</aligny>
					<font>font16</font>
					<align>right</align>
					<label>$INFO[ListItem.label]</label>
				</control>
			</itemlayout>
			<focusedlayout width="155" height="44">
				<control type="image">
					<top>5</top>
					<width>155</width>
					<height>38</height>
					<texture colordiffuse="white">white.png</texture>
				</control>
				<control type="label">
					<top>7</top>
					<width>145</width>
					<font>font16</font>
					<height>23</height>
					<aligny>bottom</aligny>
					<align>right</align>
					<label>$INFO[ListItem.label]</label>
				</control>
			</focusedlayout>
			<content>
				<item id="1">
					<label>480</label>
					<onclick>ActivateWindow(AppearanceSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="2">
					<label>157</label>
					<onclick>ActivateWindow(VideosSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="3">
					<label>TV</label>
					<onclick>ActivateWindow(PVRSettings)</onclick>
					<icon>special://skin/backgrounds/tv.jpg</icon>
				</item>
				<item id="4">
					<label>2</label>
					<onclick>ActivateWindow(MusicSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="5">
					<label>1</label>
					<onclick>ActivateWindow(PicturesSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="6">
					<label>8</label>
					<onclick>ActivateWindow(WeatherSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="7">
					<label>24001</label>
					<onclick>ActivateWindow(AddonBrowser)</onclick>
					<icon>-</icon>
				</item>
				<item id="8">
					<label>14036</label>
					<onclick>ActivateWindow(ServiceSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="9">
					<label>13000</label>
					<onclick>ActivateWindow(SystemSettings)</onclick>
					<icon>-</icon>
				</item>
				<item id="10">
					<label>7</label>
					<onclick>ActivateWindow(3)</onclick>
					<icon>-</icon>
				</item>
				<item id="11">
					<visible>System.HasAddon(service.openelec.settings)</visible>
					<label>$ADDON[service.openelec.settings 600]</label>
					<onclick>RunAddon(service.openelec.settings)</onclick>
				</item>
			</content>
		</control>
		
				
	</controls>
</window>
